# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# ML modeli — preveliki za Git
*.pt
*.bin
*.ckpt
*.safetensors
.cache/

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
